li {
  list-style-type: none;
  background-color: white;
  max-width: 960px;
  border-radius: 3px;
  padding: 3px 15px 3px 3px;
  margin: 8px;
}

ul {
  margin: 0 auto;
}

img {
  height: 50px;
  margin: 0 auto;
}

.App {
  background-color: #dbdbdb;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-container {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

span {
  margin-right: 12px;
}

.topic {
  background-color:#201b63;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
}
